body{
  font-family: 'Roboto'
}

a{
  text-decoration: none;
}

.left-lines {
    position: absolute;
    left: 3vw;
    top: 66vh;
    z-index: -1;
}

.right-lines {
  position: absolute;
    left: 85vw;
    top: 240vh;
    z-index: -1;
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 1000;
  animation: dash 18s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.main {
  margin:auto;
  width: 75vw;
  max-width: 100%;
  font-family: 'Merriweather';
}

.top-spacer{
  height: 25vh;
}

.middle-spacer{
  height: 33vh;
}

.title{
  font-family: 'Merriweather';
  font-size: 8vw;
}

.logo{
  width: 75vw;
  
}

.stats{
  width: 75vw;
  border: 5px solid black;
}

.bio{
  height: 100vh;
  margin-bottom: 1rem;
}

.bio-text{
grid-area: bio-text;
font-size:4vmin;
}

.content{
  width: 100%;
}

.icon-img{
  margin:1rem;
  width: 6vw; 
  object-fit: contain;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container{
  max-width: 64vw;
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "left top  right"
  "left center right"
  "left bottom right"
}

.contact-img{
  grid-area: center;
  border-radius: 9vh 9vh 0vh 0vh;
  width: 16vw; 
  border: 5px solid black;
  margin: 4vw auto;
}

.open-bracket{
  margin: auto;
  max-width: 8vw;
  grid-area: left;
  font-size: 30vw;
  transform: scale(1, 1.7);
}

.close-bracket{
  margin: auto;
  max-width: 8vw;
  grid-area: right;
 font-size: 30vw;
 transform: scale(1, 1.7);
 text-align: center;
}

.links-container{
  margin: 1vw;
  max-width: 32vw;
  grid-area: bottom;
}

.projectsContainer {
  margin: auto;
  display: grid;
  grid-gap: 1rem;
  color: aliceblue;
 grid-template-areas:
 "project0" 
  "project1" 
  "project2";
}

.project0 {
  grid-area: project0;
}

.project1 {
  grid-area: project1;
}

.project2 {
  grid-area: project2;
}

.testimonial-profile{
  float: left;
}

.card{
   background-color: rgb(2, 2, 66);
  border-radius: .5rem;
  padding:1rem;
  display: grid;
  grid-gap: 1rem;
 grid-template-areas:
 "testimonial-profile card-text"
}

.card-text{
  font-size: 2rem;
  margin: auto;
  float: right;
}

.card-header{
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 1vw;
  text-align: center;
}

.book-name{
  font-style: italic;
  font-size: 1rem;
}

.card-img{ 
  display: block;
  margin:auto;
  border-radius: 20vh;
  padding: .4rem;
  height:20vh;
}

.card-link, .card-link:visited {
  color: inherit;
  text-decoration: none;
}

.card-link:hover {
  color: dodgerblue;
  cursor: pointer;
}

.call-to-action-container{
  padding: 1rem;
}

.call-to-action-button{
display: block;
margin: auto;
padding: .5rem;
font-family: 'Merriweather';
font-size: 2.5vw;
text-align: center;
border-radius: .5rem;
background-color: rgba(255, 136, 0, 0.849);
border:solid black;
color: aliceblue;
}

.video{
  width: 75vw;
  height: 40vw;
}

@media only screen and (max-width: 720px) {
.card{
  grid-template-areas:
 "testimonial-profile"
 "card-text"
}

}
